In [1]:
import pandas as pd

In [13]:
df = pd.read_csv("ADNI_consol.csv")

In [14]:
df

,PHASE,ID,SITEID,PTID,RID,VISCODE,DIAGNOSIS,DIAGNOSIS_Str,DX,AGE,...,EcogSPLang,EcogSPVisspat,EcogSPPlan,EcogSPOrgan,EcogSPDivatt,EcogSPTotal,FDG,PIB,AV45,FBB
0,ADNI1,408.0,101.0,002_S_0295,295.0,bl,1.0,Normal,CN,84.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ADNI1,406.0,101.0,002_S_0413,413.0,bl,1.0,Normal,CN,76.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ADNI1,634.0,101.0,002_S_0559,559.0,bl,1.0,Normal,CN,79.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ADNI1,632.0,101.0,002_S_0619,619.0,bl,3.0,AD,AD,77.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ADNI1,734.0,101.0,002_S_0685,685.0,bl,1.0,Normal,CN,89.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1639,ADNI3,154338.0,59.0,941_S_7046,7046.0,bl,1.0,Normal,CN,71.2,...,1.00000,1.0,1.0,1.0,1.00,1.00000,NaN,NaN,NaN,NaN
1640,ADNI3,153910.0,59.0,941_S_7051,7051.0,bl,1.0,Normal,SMC,63.7,...,1.00000,1.0,1.0,1.0,1.00,1.05263,NaN,NaN,NaN,NaN
1641,ADNI3,156859.0,59.0,941_S_7074,7074.0,bl,1.0,Normal,SMC,70.8,...,1.22222,1.0,1.6,2.0,1.25,1.37838,NaN,NaN,NaN,NaN
1642,ADNI3,160445.0,59.0,941_S_7085,7085.0,bl,2.0,MCI,LMCI,69.7,...,1.00000,1.0,1.0,1.0,1.25,1.08333,NaN,NaN,NaN,NaN
1643,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.drop(
    ["PHASE", "ID", "SITEID", "PTID", "RID", "VISCODE", "DIAGNOSIS_Str", "DX"],
    axis=1,
    inplace=True,
)
df.dropna(subset=["DIAGNOSIS"], inplace=True)

In [4]:
from sklearn.preprocessing import LabelEncoder

categorical_columns = df.select_dtypes(include=["object"]).columns.tolist()
print(f"Categorical columns to encode: {categorical_columns}")
label_encoders = {}
for col in categorical_columns:
    # Create a new encoder for each column
    le = LabelEncoder()
    # Fit and transform the column, handling NaN values
    not_null = df[col].notna()
    df.loc[not_null, col] = le.fit_transform(df.loc[not_null, col])
    # Store the encoder for future reference
    label_encoders[col] = le
    print(f"Encoded {col}: {le.classes_}")

Categorical columns to encode: ['PTETHCAT', 'PTGENDER', 'PTMARRY', 'PTRACCAT']
Encoded PTETHCAT: ['Hisp/Latino' 'Not Hisp/Latino' 'Unknown']
Encoded PTGENDER: ['Female' 'Male']
Encoded PTMARRY: ['Divorced' 'Married' 'Never married' 'Unknown' 'Widowed']
Encoded PTRACCAT: ['Am Indian/Alaskan' 'Asian' 'Black' 'More than one' 'Unknown' 'White']

In [5]:
numerical_columns = df.select_dtypes(include=["int64", "float64"]).columns
for col in numerical_columns:
    if df[col].isna().any():
        mean_value = df[col].median()
        df[col].fillna(mean_value, inplace=True)
        print(f"Imputed NaN values in '{col}' with mean: {mean_value:.4f}")

Imputed NaN values in 'AGE' with mean: 73.0000
Imputed NaN values in 'PTEDUCAT' with mean: 16.0000
Imputed NaN values in 'VSWEIGHT' with mean: 76.0000
Imputed NaN values in 'VSHEIGHT' with mean: 169.0000
Imputed NaN values in 'VSBPSYS' with mean: 135.0000
Imputed NaN values in 'VSBPDIA' with mean: 76.0000
Imputed NaN values in 'VSPULSE' with mean: 64.0000
Imputed NaN values in 'VSRESP' with mean: 16.0000
Imputed NaN values in 'CLOCKSCOR' with mean: 5.0000
Imputed NaN values in 'COPYSCOR' with mean: 5.0000
Imputed NaN values in 'AVTOT1' with mean: 4.0000
Imputed NaN values in 'AVTOT2' with mean: 6.0000
Imputed NaN values in 'AVTOT3' with mean: 7.0000
Imputed NaN values in 'AVTOT4' with mean: 8.0000
Imputed NaN values in 'AVTOT5' with mean: 9.0000
Imputed NaN values in 'AVTOT6' with mean: 5.0000
Imputed NaN values in 'AVTOTB' with mean: 4.0000
Imputed NaN values in 'DSPANFOR' with mean: 8.0000
Imputed NaN values in 'DSPANFLTH' with mean: 6.0000
Imputed NaN values in 'DSPANBAC' with mean: 6.0000
Imputed NaN values in 'DSPANBLTH' with mean: 4.0000
Imputed NaN values in 'CATANIMSC' with mean: 18.0000
Imputed NaN values in 'CATANPERS' with mean: 0.0000
Imputed NaN values in 'CATANINTR' with mean: 0.0000
Imputed NaN values in 'CATVEGESC' with mean: 11.0000
Imputed NaN values in 'CATVGPERS' with mean: 0.0000
Imputed NaN values in 'CATVGINTR' with mean: 0.0000
Imputed NaN values in 'TRAASCOR' with mean: 36.0000
Imputed NaN values in 'TRABSCOR' with mean: 90.0000
Imputed NaN values in 'DIGITSCOR' with mean: 38.0000
Imputed NaN values in 'BNTTOTAL' with mean: 27.0000
Imputed NaN values in 'AVDEL30MIN' with mean: 4.0000
Imputed NaN values in 'AVDELTOT' with mean: 12.0000
Imputed NaN values in 'ANART' with mean: 1.0000
Imputed NaN values in 'MINTTOTAL' with mean: 30.0000
Imputed NaN values in 'NPIASEV' with mean: -4.0000
Imputed NaN values in 'NPIBSEV' with mean: -4.0000
Imputed NaN values in 'NPICSEV' with mean: -4.0000
Imputed NaN values in 'NPIDSEV' with mean: -4.0000
Imputed NaN values in 'NPIESEV' with mean: -4.0000
Imputed NaN values in 'NPIFSEV' with mean: -4.0000
Imputed NaN values in 'NPIGSEV' with mean: -4.0000
Imputed NaN values in 'NPIHSEV' with mean: -4.0000
Imputed NaN values in 'NPIISEV' with mean: -4.0000
Imputed NaN values in 'NPIJSEV' with mean: -4.0000
Imputed NaN values in 'NPIKSEV' with mean: -4.0000
Imputed NaN values in 'NPILSEV' with mean: -4.0000
Imputed NaN values in 'NPISCORE' with mean: 1.0000
Imputed NaN values in 'GDTOTAL' with mean: 1.0000
Imputed NaN values in 'ABETA40' with mean: 17660.0000
Imputed NaN values in 'ABETA42' with mean: 876.9000
Imputed NaN values in 'TAU' with mean: 250.1000
Imputed NaN values in 'PTAU' with mean: 22.7450
Imputed NaN values in 'CDRSB.1' with mean: 1.0000
Imputed NaN values in 'ADAS11' with mean: 8.6700
Imputed NaN values in 'ADAS13' with mean: 14.0000
Imputed NaN values in 'ADASQ4' with mean: 5.0000
Imputed NaN values in 'MMSE' with mean: 28.0000
Imputed NaN values in 'RAVLT_immediate' with mean: 36.0000
Imputed NaN values in 'RAVLT_learning' with mean: 4.0000
Imputed NaN values in 'RAVLT_forgetting' with mean: 4.0000
Imputed NaN values in 'RAVLT_perc_forgetting' with mean: 54.5455
Imputed NaN values in 'LDELTOTAL' with mean: 8.0000
Imputed NaN values in 'FAQ' with mean: 0.0000
Imputed NaN values in 'mPACCdigit' with mean: -4.3103
Imputed NaN values in 'mPACCtrailsB' with mean: -3.8791
Imputed NaN values in 'Ventricles' with mean: 34144.0000
Imputed NaN values in 'Hippocampus' with mean: 7013.3500
Imputed NaN values in 'WholeBrain' with mean: 1013330.0000
Imputed NaN values in 'Entorhinal' with mean: 3698.5000
Imputed NaN values in 'Fusiform' with mean: 17437.5000
Imputed NaN values in 'MidTemp' with mean: 19641.5000
Imputed NaN values in 'ICV' with mean: 1508810.0000
Imputed NaN values in 'MOCA' with mean: 25.0000
Imputed NaN values in 'EcogPtMem' with mean: 1.8750
Imputed NaN values in 'EcogPtLang' with mean: 1.4444
Imputed NaN values in 'EcogPtVisspat' with mean: 1.1667
Imputed NaN values in 'EcogPtPlan' with mean: 1.2000
Imputed NaN values in 'EcogPtOrgan' with mean: 1.1667
Imputed NaN values in 'EcogPtDivatt' with mean: 1.5000
Imputed NaN values in 'EcogPtTotal' with mean: 1.4474
Imputed NaN values in 'EcogSPMem' with mean: 1.5000
Imputed NaN values in 'EcogSPLang' with mean: 1.2222
Imputed NaN values in 'EcogSPVisspat' with mean: 1.0000
Imputed NaN values in 'EcogSPPlan' with mean: 1.0000
Imputed NaN values in 'EcogSPOrgan' with mean: 1.0000
Imputed NaN values in 'EcogSPDivatt' with mean: 1.2500
Imputed NaN values in 'EcogSPTotal' with mean: 1.2895
Imputed NaN values in 'FDG' with mean: 1.1815
Imputed NaN values in 'PIB' with mean: 1.7437
Imputed NaN values in 'AV45' with mean: 1.0857
Imputed NaN values in 'FBB' with mean: 1.0495

/var/folders/tp/s93g_ywj25q87c9hgdw53dtm0000gn/T/ipykernel_98541/3877866144.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(mean_value, inplace=True)

In [6]:
# Convert remaining object columns to numeric
object_columns = df.select_dtypes(include=["object"]).columns
for col in object_columns:
    df[col] = df[col].astype(float)

In [9]:
df

,DIAGNOSIS,AGE,PTEDUCAT,PTETHCAT,PTGENDER,PTMARRY,PTRACCAT,VSWEIGHT,VSHEIGHT,VSBPSYS,...,EcogSPLang,EcogSPVisspat,EcogSPPlan,EcogSPOrgan,EcogSPDivatt,EcogSPTotal,FDG,PIB,AV45,FBB
0,1,84.8,18.0,1.0,1.0,1.0,5.0,75.0,177.0,130.0,...,1.22222,1.0,1.0,1.00000,1.25,1.28947,1.18154,1.74375,1.0857,1.0495
1,1,76.3,16.0,1.0,0.0,1.0,5.0,61.0,169.0,116.0,...,1.22222,1.0,1.0,1.00000,1.25,1.28947,1.18154,1.74375,1.0857,1.0495
2,1,79.3,16.0,1.0,1.0,4.0,5.0,93.0,185.0,127.0,...,1.22222,1.0,1.0,1.00000,1.25,1.28947,1.18154,1.74375,1.0857,1.0495
3,3,77.5,12.0,1.0,1.0,1.0,5.0,82.0,181.0,132.0,...,1.22222,1.0,1.0,1.00000,1.25,1.28947,1.18154,1.74375,1.0857,1.0495
4,1,89.6,16.0,1.0,0.0,1.0,5.0,65.0,157.0,125.0,...,1.22222,1.0,1.0,1.00000,1.25,1.28947,1.18154,1.74375,1.0857,1.0495
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1638,2,73.3,20.0,1.0,0.0,4.0,5.0,49.0,166.0,151.0,...,1.44444,1.0,1.0,1.66667,1.00,1.45455,1.18154,1.74375,1.0857,1.0495
1639,1,71.2,16.0,1.0,0.0,1.0,2.0,69.0,161.0,157.0,...,1.00000,1.0,1.0,1.00000,1.00,1.00000,1.18154,1.74375,1.0857,1.0495
1640,1,63.7,12.0,1.0,1.0,1.0,2.0,72.0,178.0,138.0,...,1.00000,1.0,1.0,1.00000,1.00,1.05263,1.18154,1.74375,1.0857,1.0495
1641,1,70.8,18.0,1.0,1.0,1.0,1.0,79.0,173.0,154.0,...,1.22222,1.0,1.6,2.00000,1.25,1.37838,1.18154,1.74375,1.0857,1.0495
1642,2,69.7,12.0,1.0,0.0,0.0,2.0,100.0,168.0,128.0,...,1.00000,1.0,1.0,1.00000,1.25,1.08333,1.18154,1.74375,1.0857,1.0495

In [10]:
df["DIAGNOSIS"] = df["DIAGNOSIS"].astype(int)

In [11]:
import lightgbm as lgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score


X = df.drop("DIAGNOSIS", axis=1)
y = df["DIAGNOSIS"]

# Verify no object columns remain
print(f"X dtypes: {X.dtypes.value_counts()}")

X_train_val, X_test, y_train_val, y_test = train_test_split(
    X, y, test_size=0.3, random_state=42
)
X_train, X_val, y_train, y_val = train_test_split(
    X_train_val, y_train_val, test_size=0.3, random_state=42
)
model_params = {
    "objective": "multiclass",
    "boosting_type": "gbdt",
    "num_leaves": 31,
    "learning_rate": 0.05,
    "feature_fraction": 0.9,
    "n_estimators": 100,
    "random_state": 42,
    "early_stopping_rounds": 20,
    "verbosity": -1,
}
model = lgb.LGBMClassifier(**model_params)

model.fit(X_train, y_train, eval_set=[(X_val, y_val)])

preds = model.predict(X_test)

acc = accuracy_score(y_test, preds)
print(f"Accuracy: {acc:.4f}")

X dtypes: float64    99
Name: count, dtype: int64
Accuracy: 0.9472